version: '3.8'
services:
  web-server:
    image: nginx:alpine
    container_name: web-target
    user: root
    ports:
      - "80:80"
      - "443:443"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
      - CHOWN
      - SETUID
      - SETGID
    volumes:
      - ./server.key:/etc/nginx/server.key
      - ./server.crt:/etc/nginx/server.crt
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - security-net

networks:
  security-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
